---
import { getBlogs } from "../library/microcms";
const res = await getBlogs();
console.log(res);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>

  <body>
    <ul>
      {
        res.contents.map((post) => (
          <li>
            <a href={post.id}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
