---
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
const logo = "/assets/img/sample.jpg";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <h1>Astro練習サイト</h1>
    <Nav />
    <slot />
  </body>
</html>
